fastapi
uvicorn
llama-index
pydantic
jinja2
llama-index-llms-gemini
google-generativeai
python-dotenv
pydantic[email]
psycopg2-binary
alembic
fastapi-socketio
deepgram-sdk
pyaudio==0.2.14
passlib
python-jose
python-multipart
bcrypt
